<a href="https://colab.research.google.com/github/patcharaponmai/Lineman_test/blob/main/Lineman_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

In [ ]:
# Call the pandas module to read source file

import sys
import pandas as pd

In [ ]:
# Set up a variable called file_path to specify the location of the source file, so if the file location changes, you can simply modify this variable.

order_file='/content/order_detail.csv'
restaurant_file='/content/restaurant_detail.csv'

order_df = pd.read_csv(order_file, header=0)
restaurant_df = pd.read_csv(restaurant_file, header=0)

In [ ]:
order_df.head()

,order_created_timestamp,status,price,discount,id,driver_id,user_id,restaurant_id
0,2019-06-08 17:31:57,COMPLETED,113,55.0,fe3409e8-9b9b-4680-8f8c-862f526f000f,064012bc-fc75-4a97-8993-203c52cab471,96c1f2fb-1d75-4496-ab01-8264897c0660,R_43296
1,2019-06-17 22:13:57,COMPLETED,138,80.0,c7ea583b-12d7-454f-89aa-aabf62358035,06403af7-a69d-4496-9d1a-65a1d7d3fcf4,fe2921bb-b3e0-4a3b-b08d-d1b318a4c8a6,R_52641
2,2019-06-12 12:58:22,COMPLETED,84,26.0,521249d3-e1c9-4d51-85b4-a967de658f60,0640aff3-e08c-47d1-829a-ed9bab234bfe,208003e9-b22f-4997-b4dc-b5eccbda5759,R_25788
3,2019-02-08 13:57:41,COMPLETED,185,25.0,a24db3b2-9a47-405c-8e65-56452cc8f123,0640c49c-f07a-4727-941d-08078d0abe17,c78e29a9-fc5e-40f0-b07f-edebeb64e285,R_84999
4,2019-03-18 20:23:30,COMPLETED,143,25.0,419380ea-b53c-4f1b-b654-5fc3e66845e9,0640c83e-bc5f-4d09-a95a-671c267da8d4,aa616477-b559-49c6-a20b-b631cef166b3,R_21547

In [ ]:
restaurant_df.head()

,id,restaurant_name,category,esimated_cooking_time,latitude,longitude
0,R_99988,Restaurant A,BREAKFAST,69.0,13.597060,100.745401
1,R_99983,Restaurant B,BREAKFAST,43.0,13.746108,100.529304
2,R_99976,Restaurant C,BREAKFAST,70.0,13.995003,100.654010
3,R_99970,Restaurant D,BREAKFAST,70.0,14.040923,100.609767
4,R_99968,Restaurant E,BREAKFAST,20.0,13.710985,100.409307

In [ ]:
order_df.info()
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395361 entries, 0 to 395360
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   order_created_timestamp  395361 non-null  object
 1   status                   395361 non-null  object
 2   price                    395361 non-null  int64
 3   discount                 276648 non-null  float64
 4   id                       395361 non-null  object
 5   driver_id                395361 non-null  object
 6   user_id                  395361 non-null  object
 7   restaurant_id            395361 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 24.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12623 entries, 0 to 12622
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     12623 non-null  object
 1   restaurant_name        12623 non-null  object
 2   category               12623 non-null  object
 3   esimated_cooking_time  12623 non-null  float64
 4   latitude               12623 non-null  float64
 5   longitude              12623 non-null  float64
dtypes: float64(3), object(3)
memory usage: 591.8+ KB

In [ ]:
order_df.nunique()

order_created_timestamp    383159
status                          2
price                         648
discount                      126
id                         395361
driver_id                  391405
user_id                    383253
restaurant_id               12623
dtype: int64

In [ ]:
restaurant_df.nunique()

id                        12623
restaurant_name           12623
category                     14
estimated_cooking_time      141
latitude                  12317
longitude                 12308
dtype: int64

From the result above, it shows that order_df have a column "id" as a primary key by considered the unique record count is equal to totak record count. While restaurant_df have a ("id", "restaurant_name") as a primary key.

### Check Duplicate value

In [ ]:
order_df.duplicated().sum()

0

In [ ]:
restaurant_df.duplicated().sum()

0

### Check Null value

In [ ]:
order_df.isnull().sum()

order_created_timestamp         0
status                          0
price                           0
discount                   118713
id                              0
driver_id                       0
user_id                         0
restaurant_id                   0
dtype: int64

In [ ]:
restaurant_df.isnull().sum()

id                        0
restaurant_name           0
category                  0
estimated_cooking_time    0
latitude                  0
longitude                 0
dtype: int64

In [ ]:
order_df[order_df.isnull().any(axis=1)].head(5)

,order_created_timestamp,status,price,discount,id,driver_id,user_id,restaurant_id
5,2019-02-22 16:33:14,COMPLETED,193,NaN,3ae93f7d-3e59-4d79-a15b-0a48a101c461,0640e337-ca20-43ca-bc1e-88224492abf1,56b50e0d-1620-4529-8511-99b4c85c024e,R_11743
8,2019-06-12 01:22:57,COMPLETED,118,NaN,6379d01b-a183-45f4-a589-7ee6b6966a43,0641a085-7abe-4ab0-96a5-81b2a9cc48d1,bead4483-8cc6-4bc6-bc4b-7f34d0c03ccf,R_34493
11,2019-05-14 13:14:44,COMPLETED,142,NaN,1d3eee0d-aad0-4fda-8d15-2338d1a63f6c,06424b98-6955-49bf-b312-7e84ac136c37,38ee06d0-5aef-476e-a9ab-1dc674be67d3,R_61391
13,2019-05-30 13:10:56,COMPLETED,120,NaN,f652707a-ac4f-466e-95a5-558a409216d1,064268b5-c573-498d-b9cb-486bd404273e,4110e742-6fba-4115-9223-aaf0982d330d,R_49071
14,2019-04-27 22:49:00,COMPLETED,232,NaN,d1c054a1-8ee7-45c8-b967-6f0d2b132890,06429574-7a5a-446d-bc76-b4ca4ae23e05,c41138ff-05f3-4dc3-814c-a1dfe57511df,R_57704

In [ ]:
# From the previous results, it shows that the 'discount' column contains NULL values. To simplify calculations, I will replace these NULL values with 0.

order_df['discount'].fillna(0, inplace=True)

In [ ]:
order_df.isnull().sum()

order_created_timestamp    0
status                     0
price                      0
discount                   0
id                         0
driver_id                  0
user_id                    0
restaurant_id              0
dtype: int64

In [ ]:
new_order = ['id', 'driver_id', 'user_id', 'restaurant_id', 'price', 'discount', 'order_created_timestamp', 'status']
order_df = order_df[new_order]

In [ ]:
order_df.head()

,id,driver_id,user_id,restaurant_id,price,discount,order_created_timestamp,status
0,fe3409e8-9b9b-4680-8f8c-862f526f000f,064012bc-fc75-4a97-8993-203c52cab471,96c1f2fb-1d75-4496-ab01-8264897c0660,R_43296,113,55.0,2019-06-08 17:31:57,COMPLETED
1,c7ea583b-12d7-454f-89aa-aabf62358035,06403af7-a69d-4496-9d1a-65a1d7d3fcf4,fe2921bb-b3e0-4a3b-b08d-d1b318a4c8a6,R_52641,138,80.0,2019-06-17 22:13:57,COMPLETED
2,521249d3-e1c9-4d51-85b4-a967de658f60,0640aff3-e08c-47d1-829a-ed9bab234bfe,208003e9-b22f-4997-b4dc-b5eccbda5759,R_25788,84,26.0,2019-06-12 12:58:22,COMPLETED
3,a24db3b2-9a47-405c-8e65-56452cc8f123,0640c49c-f07a-4727-941d-08078d0abe17,c78e29a9-fc5e-40f0-b07f-edebeb64e285,R_84999,185,25.0,2019-02-08 13:57:41,COMPLETED
4,419380ea-b53c-4f1b-b654-5fc3e66845e9,0640c83e-bc5f-4d09-a95a-671c267da8d4,aa616477-b559-49c6-a20b-b631cef166b3,R_21547,143,25.0,2019-03-18 20:23:30,COMPLETED

# Create connection to PostgreSQL database

In [ ]:
# # install PostgreSQL
# !apt install postgresql postgresql-contrib &>log

# # start PostgreSQL serviecs
# !service postgresql start

# # Create root user
# !sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"

# # Create database
# !sudo -u postgres createdb test

In [ ]:
# Call the psycopg2 module to establish a connection to the PostgreSQL database.

import psycopg2

In [ ]:
# Declare the main variables that will be used.

DATABASE = "test"
USER = "root"
ORDER_TABLE = 'order_detail'
RESTAURANT_TABLE = 'restaurant_detail'

In [ ]:
# Create a function for connecting to the PostgreSQL database.

def create_connection_postgresql(Database : str, User : str):
  conn = psycopg2.connect(
  database=Database,
  user=User,
  )

  return conn

In [ ]:
# Create a function to execute various queries, mainly to catch errors that may occur when running queries related to DELETE, UPDATE, INSERT to prevent data loss.

def execute_query(QUERY : str, VALUES : tuple = None):
  """
    1. QUERY is a query statement that need to be execute
    2. VALUES is a tuple for handle case that require placeholder (default = None)
  """
  try:
    cur.execute(QUERY, VALUES)
    conn.commit()
  except Exception as e:
    conn.rollback()
    print(f"Execute query Failed", e)

In [ ]:
# Create a function to check the table that has been created.

def check_ddl_table(TABLENAME):

  QUERY_CHECK_TBL = f"""
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = %s
        ORDER BY ordinal_position
  """

  # Using substitution (%s) for ease of changing TABLE_NAME in the future.
  # Since we are using substitution in the execution step, it is necessary to provide a second argument as a tuple value so that during execution, this TABLE_NAME value is parsed to '%s'.
  cur.execute(QUERY_CHECK_TBL, (TABLENAME,))

  # Fetch the output if needed
  column_info = cur.fetchall()

  for row in column_info:
    print(row)

In [ ]:
# Invoke the cursor method for executing SQL and fetching data that will be used for querying data.
conn = create_connection_postgresql(DATABASE, USER)
cur = conn.cursor()

QUERY_DROP_TBL_ORDER = f" DROP TABLE IF EXISTS {ORDER_TABLE}"
QUERY_DROP_TBL_REST = f" DROP TABLE IF EXISTS {RESTAURANT_TABLE}"

# execute_query(QUERY_DROP_TBL_ORDER)
# execute_query(QUERY_DROP_TBL_REST)

QUERY_CREATE_TBL_ORDER = f""" CREATE TABLE IF NOT EXISTS {ORDER_TABLE} (
    "order_created_timestamp" TIMESTAMP,
    "status" VARCHAR(256),
    "price" INTEGER,
    "discount" FLOAT,
    "id" VARCHAR(256),
    "driver_id" VARCHAR(256),
    "user_id" VARCHAR(256),
    "restaurant_id" VARCHAR(256))
"""


QUERY_CREATE_TBL_REST = f""" CREATE TABLE IF NOT EXISTS {RESTAURANT_TABLE} (
    "id" VARCHAR(256),
    "restaurant_name" VARCHAR(256),
    "category" VARCHAR(256),
    "esimated_cooking_time" FLOAT,
    "latitude" FLOAT,
    "longitude" FLOAT)
    """

# execute_query(QUERY_CREATE_TBL_ORDER)
execute_query(QUERY_CREATE_TBL_REST)

In [ ]:
print(f"Check DDL table {ORDER_TABLE} ....\n")
order_tbl_result = check_ddl_table(ORDER_TABLE)
order_tbl_result

Check DDL table order_detail ....

('order_created_timestamp', 'timestamp without time zone')
('status', 'character varying')
('price', 'integer')
('discount', 'double precision')
('id', 'character varying')
('driver_id', 'character varying')
('user_id', 'character varying')
('restaurant_id', 'character varying')

In [ ]:
print(f"Check DDL table {RESTAURANT_TABLE} ....\n")
rest_tbl_result = check_ddl_table(RESTAURANT_TABLE)
rest_tbl_result

Check DDL table restaurant_detail ....

('id', 'character varying')
('restaurant_name', 'character varying')
('category', 'character varying')
('estimated_cooking_time', 'double precision')
('latitude', 'double precision')
('longitude', 'double precision')

In [ ]:
# Create a function for data ingestion.

def Ingest_df_to_db(DataFrame : pd.DataFrame, Table_name : str, Database : str, User : str, BatchSize : int, Truncate = True) -> None:
  """
  Parameter
    1. DataFrame is parameter for pandas DataFrame
    2. Table_name is parameter for pandas table name
    3. Database is parameter for database name
    4. User is parameter for user
    5. BatchSize is size of batch to insert into table
    6. Truncate is delete all record from table before ingestion (default = True)

  """

  TOTAL_REC = len(DataFrame)


  # Truncate the data every time, under the assumption that there is only one set of data for ingestion.
  # If in the future there is a need to insert additional data, this section will need to be modified.
  if Truncate:
    try:
      print(f"START TRUNCATE TABLE `{Table_name}` ....")
      cur.execute(f"TRUNCATE TABLE {Table_name}")
      conn.commit()
      print(f"TRUNCATE TABLE `{Table_name}` >> COMPLETE")
    except Exception as e:
      print(f"TRUNCATE TABLE `{Table_name}` >> FAILED", e)

  print(f"======== START INGEST DATA INTO `{Database}`.`{Table_name}` ========")

  try:
    for index, row in DataFrame.iterrows():
      column_names = []
      values = []

      for column_name in DataFrame.columns:

          # Enclose column names with "" for case-sensitivity
          column_names.append(f'"{column_name}"')
          values.append(row[column_name])

      columns_str = ", ".join(column_names)

      # The data contains various data types, and these placeholders will be used in a join operation to create a set of columns.
      placeholders = ", ".join(["%s"] * len(values))
      values = tuple(values)

      QUERY_INSERT = f"INSERT INTO {Table_name} ({columns_str}) VALUES ({placeholders})"
      execute_query(QUERY_INSERT, values)  # Use parameterized query with values list

      if (index % BatchSize == 1+0e-2 ) or ((index + 1) % TOTAL_REC ==  0):
        conn.commit()

        message : str = f"ROWS INSERT STATUS ------ [{index}/{TOTAL_REC}] ------"
        print(message)


    # Check record count in table
    cur.execute(f"SELECT COUNT(1) FROM {Table_name}")
    result_rec_count = cur.fetchall()

    if result_rec_count[0][0] == TOTAL_REC:
      rec_count_status = "SUCCESS"
    else:
      rec_count_status = "FAILED"

    # Check null in table
    columns_str_chk_null = " IS NULL OR ".join(column_names)
    CONDITION = columns_str_chk_null+" IS NULL"

    QUERY_CHK_NULL = f"""
        SELECT COUNT(*)
        FROM {Table_name}
        WHERE {CONDITION}
    """

    cur.execute(QUERY_CHK_NULL)
    result_chk_null = cur.fetchall()


    if result_chk_null[0][0] == 0:
      chk_null_status = "SUCCESS"
    else:
      chk_null_status = "FAILED"

    print(f"======== RECONCILE PROCESS ========")
    print(f"Source rows = {TOTAL_REC}")
    print(f"Target rows = {result_rec_count[0][0]}")
    print(f"Record count status = {rec_count_status}")
    print(f"Check null status = {chk_null_status}")

  except Exception as e:
      raise("Something went wrong", e)

In [ ]:
Ingest_df_to_db(order_df, ORDER_TABLE, 'test', 'root', 1e5)

START TRUNCATE TABLE `order_detail` ....
TRUNCATE TABLE `order_detail` >> COMPLETE
======== START INGEST DATA INTO `test`.`order_detail` ========
ROWS INSERT STATUS ------ [1/395361] ------
ROWS INSERT STATUS ------ [100001/395361] ------
ROWS INSERT STATUS ------ [200001/395361] ------
ROWS INSERT STATUS ------ [300001/395361] ------
ROWS INSERT STATUS ------ [395360/395361] ------
======== RECONCILE PROCESS ========
Source rows = 395361
Target rows = 395361
Record count status = SUCCESS
Check null status = SUCCESS

In [ ]:
Ingest_df_to_db(restaurant_df, RESTAURANT_TABLE, 'test', 'root', 3*1e3)

START TRUNCATE TABLE `restaurant_detail` ....
TRUNCATE TABLE `restaurant_detail` >> COMPLETE
======== START INGEST DATA INTO `test`.`restaurant_detail` ========
ROWS INSERT STATUS ------ [1/12623] ------
ROWS INSERT STATUS ------ [3001/12623] ------
ROWS INSERT STATUS ------ [6001/12623] ------
ROWS INSERT STATUS ------ [9001/12623] ------
ROWS INSERT STATUS ------ [12001/12623] ------
ROWS INSERT STATUS ------ [12622/12623] ------
======== RECONCILE PROCESS ========
Source rows = 12623
Target rows = 12623
Record count status = SUCCESS
Check null status = SUCCESS

# Create connection to HIVE database

In [ ]:
!pip install thrift thrift-sasl pyhive

Requirement already satisfied: thrift in /usr/local/lib/python3.10/dist-packages (0.16.0)
Collecting thrift-sasl
  Downloading thrift_sasl-0.4.3-py2.py3-none-any.whl (8.3 kB)
Requirement already satisfied: pyhive in /usr/local/lib/python3.10/dist-packages (0.7.0)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.10/dist-packages (from thrift) (1.16.0)
Collecting pure-sasl>=0.6.2 (from thrift-sasl)
  Downloading pure-sasl-0.6.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from pyhive) (0.18.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from pyhive) (2.8.2)
Building wheels for collected packages: pure-sasl
  Building wheel for pure-sasl (setup.py) ... done
  Created wheel for pure-sasl: filename=pure_sasl-0.6.2-py3-none-any.whl size=11423 sha256=2c9b6ad77bec259c5cfd78fa0d42dc1c3a1908d886be96bbd2f53af0a4236ee9
  Stored in directory: /root/.cache/pip/wheels/57/7c/93/062238b0a68efe214024ca178233f248971045db1033c96a52
Successfully built pure-sasl
Installing collected packages: pure-sasl, thrift-sasl
Successfully installed pure-sasl-0.6.2 thrift-sasl-0.4.3

In [ ]:
from pyhive import hive

conn = hive.Connection(host='127.0.0.1', port=10000, username='root')

ERROR:thrift.transport.TSocket:Could not connect to any of [('127.0.0.1', 10000)]

TTransportException: ignored

In [ ]:
# Create a function for connecting to the PostgreSQL database.

def create_connection_postgresql(Database : str, User : str):
  conn = psycopg2.connect(
  database=Database,
  user=User,
  )

  return conn

In [ ]:
from pyspark.sql import Session
from pyspark.sql.functions import withColumn, when

In [ ]:
# Create session to database

spark= SparkSession.builder()\
    .master("local[1]")\
    .appName("Lineman_test")\
    .getOrCreate()

In [ ]:
# Read source file

order_spark_df = spark.read.option("header",True).csv(order_file)
restaurant_spark_df = spark.read.option("header",True).csv(restaurant_file)

In [ ]:
order_spark_df.show(5)

In [ ]:
restaurant_spark_df.show(5)

In [ ]:
order_spark_df.printSchema()
restaurant_spark_df.printSchema()

In [ ]:
# Add a new column named 'dt' that extracts the date from the 'order_created_timestamp' column in the format 'YYYYMMDD'.

order_spark_df = order_spark_df.withColumn("dt", to_date("order_created_timestamp", "YYYYMMDD"))
order_spark_df.show()

In [ ]:
# Use the 'lit' function to add a new column and assign it a literal or constant value.

restaurant_spark_df = restaurant_spark_df.withColumn("dt", lit("latest"))
restaurant_spark_df.show()

In [ ]:
# Create a Parquet file from both Spark DataFrames.

order_spark_df.write.partitionBy("dt")\
    .format("parquet")\
    .save("/content/order_detail.parquet")

restaurant_spark_df.write.partitionBy("dt")\
    .format("parquet")\
    .save("/content/restaurant_detail.parquet")

In [ ]:
# Create an external table with a partition column, using a specific Parquet file as the source file location.

QUERY_CREATE_EXT_ORDER = f""" CREATE EXTERNAL TABLE `order_detail` (
    `order_created_timestamp` TIMESTAMP,
    `status` VARCHAR(256),
    `price` INTEGER,
    `discount` FLOAT,
    `id` VARCHAR(256),
    `driver_id` VARCHAR(256),
    `user_id` VARCHAR(256),
    `restaurant_id` VARCHAR(256),
    )
    PARTITIONED BY (`dt` STRING)
    STORED AS PARQUET
    LOCATION '/content/order_detail.parquet'
    """

QUERY_CREATE_EXT_REST = f""" CREATE EXTERNAL TABLE `restaurant_detail` (
    `id` VARCHAR(256),
    `restaurant_name` VARCHAR(256),
    `category` VARCHAR(256),
    `esimated_cooking_time` FLOAT,
    `latitude` FLOAT,
    `longitude` FLOAT,
    )
    PARTITIONED BY (`dt` STRING)
    STORED AS PARQUET
    LOCATION '/content/restaurant_detail.parquet'
    """

spark.sql(QUERY_CREATE_EXT_ORDER)
spark.sql(QUERY_CREATE_EXT_REST)

In [ ]:
spark.sql("show tables").show()

# Craete additional tables

In [ ]:
order_spark_df_new = order_spark_df.withColumn("discount_no_null", order_spark_df.na.fill({'discount': 0}))
order_spark_df_new.show()

In [ ]:
restaurant_spark_df_new = restaurant_spark_df.withColumn("cooking_bin", when(restaurant_spark_df.esimated_cooking_time.between(10,40), 1)
                                                                        .when(restaurant_spark_df.esimated_cooking_time.between(10,40), 2)
                                                                        .when(restaurant_spark_df.esimated_cooking_time.between(10,40), 3)
                                                                        .otherwise(4))
restaurant_spark_df.show()

In [ ]:
order_spark_df_new.write.partitionBy("dt")\
    .format("parquet")\
    .save("/content/order_detail_new.parquet")

restaurant_spark_df_new.write.partitionBy("dt")\
    .format("parquet")\
    .save("/content/restaurant_detail_new.parquet")

In [ ]:
QUERY_CREATE_EXT_ORDER_NEW = f""" CREATE EXTERNAL TABLE `__order_detail_new__` (
    `order_created_timestamp` TIMESTAMP,
    `status` VARCHAR(256),
    `price` INTEGER,
    `discount` FLOAT,
    `id` VARCHAR(256),
    `driver_id` VARCHAR(256),
    `user_id` VARCHAR(256),
    `restaurant_id` VARCHAR(256),
    `discount_no_null` FLOAT
    )
    PARTITIONED BY (`dt` STRING)
    STORED AS PARQUET
    LOCATION '/content/order_detail_new.parquet'
    """

QUERY_CREATE_EXT_REST_NEW = f""" CREATE EXTERNAL TABLE `__restaurant_detail_new__` (
    `id` VARCHAR(256),
    `restaurant_name` VARCHAR(256),
    `category` VARCHAR(256),
    `esimated_cooking_time` FLOAT,
    `latitude` FLOAT,
    `longitude` FLOAT,
    `cooking_bin` INTEGER
    )
    PARTITIONED BY (`dt` STRING)
    STORED AS PARQUET
    LOCATION '/content/restaurant_detail_new.parquet'
    """

spark.sql(QUERY_CREATE_EXT_ORDER_NEW)
spark.sql(QUERY_CREATE_EXT_REST_NEW)

# SQL requirement


1. Get the average discount for each category
2. Row count per each cooking_bin

## SQL Task 1

In [ ]:
QUERY_AVG_DISCOUNT = f"""
    SELECT Category, AVG(DISCOUNT) as Average_Discount
    FROM `__order_detail_new__`
    GROUP BY Category
"""

avg_discount = spark.sql(QUERY_AVG_DISCOUNT)

avg_discount.show()

In [ ]:
avg_discount.write.option("header",true).csv("/content/discount.csv")

## SQL Task 2

In [ ]:
QUERY_COUNT_BIN = f"""
    SELECT cooking_bin, COUNT(1)
    FROM `__restaurant_detail_new__`
    GROUP BY cooking_bin
"""

row_count = spark.sql(QUERY_COUNT_BIN)

row_count.show()

In [ ]:
row_count.write.option("header",true).csv("/content/cooking.csv")